<%- include('./partials/header') %>
<div class="card-deck">
  <% for (let cluck of clucks) { %>
  <form action="/<%= cluck.id %>" method="POST">
    <div class="card mb-4" style="width: 18rem">
      <div class="card-body">
        <div class="col-sm-6 col-md-3">
          <div class="thumbnail">
            <img
              class="card-img-top"
              src="/images/avatar.jpg"
              alt="image_url"
            />
          </div>
        </div>
        <h5 class="card-title-top"><%= cluckername %></h5>

        <p class="card-text"><%=cluck.content%></p>
        <% if (cluck.image_url) {%>

        <img
          class="card-img-top"
          src="<%=cluck.image_url%>"
          alt="Card image cap"
        />
        <%} else {%>
        <img
          class="card-img-top"
          src="/images/image_unavailable.jpeg"
          alt="Card image cap"
        />

        <%}%>
      </div>
    </div>
  </form>
</div>
<% } %> <%- include('./partials/footer') %>
